<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/loggedin_base::layout(~{::section})}" >
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">

    <div class="text-center " style="margin-top: 450px;">
        <!--            <h1 class="font-weight-bold" style="color: white; font-size: 100px;">SyncSphere Contacts Master</h1>-->
        <!--            <p style="color: white; font-weight: bold; font-size: 20px;">Start collecting your contacts in very smarter way. We provide very efficient and-->
        <!--                smarter way of handling contacts.-->
        <!--            </p>-->
        <!--            <button class="btn1  btn-lg text-purple"><a th:src="@{/about}">Get Started</a></button>-->
<!--        <button class="btn1 btn-lg text-purple">-->
<!--            <a th:href="@{/signup}" style="text-decoration: none; color: inherit;">Get Started</a>-->
<!--        </button>-->

    </div>

</section>

</body>
</html>

