<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/nbase::layout(~{::section})}" >

<head>
    <meta charset="UTF-8">
    <title>Settings page</title>
</head>
<body>
<section>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-body">
                        <h3 class="mb-3">Change Password</h3>

                        <form th:action="@{/user/change-password}" method="post">

                       <!--  Old password field  -->
                            <div  class="form-group">
                                <input type="password"  name="oldPassword" class="form-control" placeholder="Old password" />
                            </div>

                        <!--  New password field  -->
                            <div  class="form-group">
                                <input type="password" name="newPassword" class="form-control" placeholder="New password" />
                            </div>

                        <!--  Confirm password field  -->
                            <div  class="form-group">
                                <input  type="password" name="confirmPassword" class="form-control" placeholder="Confirm password" />
                            </div>

                            <div class="container text-center">
                                <button type="submit" class="btn btn-success">Change password</button>
                                <button type="reset" class="btn btn-warning">Reset</button>
                            </div>


                        </form>

                    </div>

                </div>

            </div>

        </div>
    </div>


    <!--    To highlight sidebar link for the respective currently working page,  start-->
    <script>
        $(document).ready(()=>{
            $('.item').removeClass('active');
            $("#settings-link").addClass("active");

        });
    </script>
    <!--    To highlight sidebar link for the respective currently working page, end -->


</section>

</body>
</html>