<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}" >
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
<!--        <div class="text-center" style="margin-top: 120px;">-->
<!--            <h1 class="font-weight-bold" style="color: white; font-size: 100px;">SyncSphere Contacts Master</h1>-->
<!--            <p style="color: white; font-weight: bold; font-size: 20px;">Start collecting your contacts in very smarter way. We provide very efficient and-->
<!--                smarter way of handling contacts.-->
<!--            </p>-->
<!--            <button class="btn bg-primary btn-lg text-white">Get Start</button>-->
<!--        </div>-->
    </section>

</body>
</html>