<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}" >
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<section>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-body">

                        <!--        alert  message box  start    -->
                        <div th:if="${session.message}"
                             class="container text-center mt-1" >
                            <div th:classappend="${'alert-'+session.message.type}" class="alert" role="alert">
                                <span  th:text="${session.message.content}"></span>
                            </div>
                            <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
                        </div>
                        <!--        alert message box  end    -->



                        <h3 class="mb-3">Reset Password</h3>

                        <form action="/reset-password" method="post">

                            <!--  New password field  -->
                            <div  class="form-group">
                                <input type="password" name="newPassword" class="form-control" placeholder="New password" required />
                            </div>

                            <!--  Confirm password field  -->
                            <div  class="form-group">
                                <input  type="password" name="confirmPassword" class="form-control" placeholder="Confirm password" required />
                            </div>

                            <div class="container text-center">
                                <button type="submit" class="btn btn-primary">Change password</button>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>
    </div>


</section>

</body>
</html>